   .mgn-btm-20{
    margin-bottom: 20px;
   } 
   .mgn-btm-10{
    margin-bottom: 10px;
   }
   .mgn-rth-20{
    margin-right: 20px;
   }
   .mgn-rth-10{
    margin-right: 10px;
   }
   .mgn-ltf-20{
    margin-left: 20px;
   }
   .mgn-ltf-10{
    margin-left: 10px;
   }

  .wht-txt{
    color: #fff;
  } 
  .blc-txt{
    color:#000;
  }
  .red-txt{
    color: #f20000;
  }
  .custom-row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
 
  .main-body{
    padding: 0px !important;
    border: 1px solid #E8ECEF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    max-width: 1200px;
    width:100%;
  }

  .top-bar{
   background-color:#303030;
   width: 100%;
   padding-top: 10px;
   padding-bottom:8px;
   display: block;
   color: #ffffff;
   font-weight:600;
  }
 
  .top-bar .cur-date{
    font-size: 0.75em;
    padding-left: 15px;

  }

  .menu-section{
    background-color:#DA2502;
  }
  ul li{
    list-style: none; 
    margin: 3px;    
  }
  ul.lft-align{
    float: left;
    width: 20%;
  }
  ul.right-align{
    float: right;
    padding-right: 8px;
    width: 80%; 
  }
  ul.right-align li{
    float: left;
    padding-right: 8px;
    display: inline-block;
  } 
  .social-icon ul{
    display: inline-block;

  }
  }
  .social-icon ul li a{
    color: #555 !important;
    font-size: 0.75em;
  }
  .social-icon ul li a:hover{
    color: #DA2502 !important;

  }


.site-info{
   background-color:#ffffff;
   width: 100%;
   padding: 20px;   
   display: block;
  }  

.main-nav ul li.nav-item a.nav-link{
  color: #ffffff;
}

ul li{
  display: inline-block;
  
  float: left;
  
}

ul.news-hdls li.hdl-item a{
   clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}




.cat-title, .cat-title .h1, .cat-title h1 {
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;

}

.news-title .h1{
  font-size: 14px;
  font-weight: 600;
}


.til-btm{
  display: block;

}
.til-btm img{
  width: 100%;
  display: block;
}
.til-btm .news-title{
  display: block;
  margin-top: 10px;
}

.til-rit{
  display: inline-block;
}

.til-rit img{
  float: left;
  width: 30%;
}
.til-rit .news-title{
 float: right;
 width: 68%;
 margin-left: 2%;
 margin-top: 5px;
}

.til-on, .cat-on, .featured-post{
  position: relative;
}

.cat-on .cat-title, .featured-post .cat-title{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #abc;
  padding: 5px;
}

.featured-post .news-title, .til-on .news-title{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.footer-section{
  /*background-color: #000000;*/
}
.footer-top{
  color: #ffffff;
  background-color: #1D1D1D;
}
.footer-col{
  padding: 2vh 2vw !important;
}

.footer-btm{
  background-color: #000000 !important;
}

.btn-sec{
	display: block;
	margin-top:45px;
}
.cus-btn{
	padding: 17px 45px;
} 
.btn-red{
	background-color: #F42C2B !important;
	color: #ffffff !important;
	border-radius: 5px;
	} 
.btn-red:hover{
	background-color: #000000 !important;
	color: #ffffff !important;

}	
.uc-txt{
	text-transform: uppercase;
}