body{
	font-size: 13px;
}

b.title-txt{
    font-size: 16px;
    /*color: #ff0000 !important;*/
}
b.title-red{
    font-size: 16px;
    color: #ff0000 !important;
}



span.red-txt{
	color: #f20000 !important;
}            
